<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <title>Douceur Végétale</title>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <!-- css -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css">

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">


</head>
<body data-spy="scroll" data-target="#navbar" data-offset="120">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div id="menu" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header visible-xs">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="assets/img/logo/douceur_vegetale_logo.png"></a>
        </div><!-- navbar-header -->
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="index.php">Accueil</a></li>
                <li><a href="index.php?section=products">Nos Produits</a></li>
                <li class="hidden-xs">
                    <a id="home" href="index.php">
                        <img class="image_on" src="assets/img/logo/douceur_vegetale_logo_glyphe_vert.png" alt="logo">
                        <img class="image_off" src="assets/img/logo/douceur_vegetale_logo_glyphe_marron.png" alt="logo">
                    </a>
                </li>
                <li><a href="index.php?section=values">Nos Valeurs</a></li>
                <li><a href="index.php?section=contact">Contact</a></li>

                <!--fix for scroll spy active menu element-->
                <li style="display:none;"><a href="#header"></a></li>

            </ul>
        </div><!--/.navbar-collapse -->
    </div><!-- container -->
</div><!-- menu -->

{% block body %}
{% endblock %}

<footer id="footer" class="dark-wrapper">
    <section class="ss-style-top"></section>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                {% for shopinfo in shopinfos %}
                    <p>{{ shopinfo.address }}<br>
                        Tél. : {{ shopinfo.telephone }}<br>
                        Mail : {{ shopinfo.email }}<br>
                        Horaires : {{ shopinfo.hours }}</p>
                {% endfor %}
            </div>
            <div class="col-sm-6">
                <div class="social-bar">
                    <a href="#" class="fa fa-instagram tooltipped" title=""></a>
                    <a href="#" class="fa fa-twitter-square tooltipped" title=""></a>
                    <a href="#" class="fa fa-facebook-square tooltipped" title=""></a>
                </div>
            </div>
            <div class="col-sm-12 text-center">
                <p class="text-small">&copy; Copyright Douceur Végétale 2017 - <a data-toggle="modal"
                                                                                  data-target="#myModal">Mentions
                        Légales</a> - <a
                            href="index.php?section=login" aria-hidden="true" class="fa fa-lock"></a></p>

                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title modal-textcolor">MENTIONS LÉGALES</h4>
                            </div>
                            <div class="modal-body">
                                <p class="modal-text">
                                    Merci de lire avec attention les différentes modalités d’utilisation du présent site
                                    avant d’y parcourir ses pages.
                                    En vous connectant sur ce site, vous acceptez sans réserves les présentes modalités.
                                    Aussi, conformément à l’article n°6 de la Loi n°2004-575 du 21 Juin 2004 pour la
                                    confiance dans l’économie numérique, les responsables du présent site internet
                                    <a href="http://www.douceurvegetale.com">www.douceurvegetale.com</a> sont :

                                <p class="modal-text">🍰 &nbsp; ÉDITEUR DU SITE :</p>
                                <p class="modal-text">
                                    <ul class="modal-text">
                                    <li>Douceur Végétale</li>
                                    <li>Numéro de SIRET : 732 829 320 00074</li>
                                    <li>Responsables éditoriales : Amandine, Émeline, Nam et Sara</li>
                                    <li>Adresse : 11 rue de Poissy, 75005 Paris</li>
                                    <li>Téléphone : 06 58 74 30 91</li>
                                    <li>Email : contact@douceurvegetale.com</li>
                                    <li>Site Web : <a href="http://www.douceurvegetale.com">www.douceurvegetale.com</a></li>
                                </ul>
                                </p>
                                <p class="modal-text">🍰 &nbsp; HÉBERGEMENT :</p>
                                <p class="modal-text">
                                    <ul class="modal-text">
                                    <li>Hébergeur : Wild Code School</li>
                                    <li>Adresse : 11 rue de Poissy, 75005 Paris</li>
                                    <li>Site Web : <a href="http://www.wildcodeschool.fr">www.wildcodeschool.fr</a></li>
                                </ul>
                                </p>
                                <p class="modal-text">🍰 &nbsp; DÉVELOPPEMENT :</p>
                                <p class="modal-text">
                                    <ul class="modal-text">
                                    <li>Développeuses : Amandine, Émeline, Nam et Sara</li>
                                    <li>Adresse : 11 rue de Poissy, 75005 Paris</li>
                                    <li>Site Web : <a href="http://www.wildcodeschool.fr">www.wildcodeschool.fr</a></li>
                                </ul>
                                </p>
                                <p class="modal-text">🍰 &nbsp; CONDITIONS D'UTILISATION :</p>
                                <p class="modal-text">
                                    Ce site (<a href="http://www.douceurvegetale.com">www.douceurvegetale.com</a>) est
                                    proposé en différents langages web (HTML, HTML5, Javascript, CSS, etc…).
                                    Pour un meilleur confort d'utilisation et un graphisme plus agréable, nous vous
                                    recommandons de recourir à des navigateurs modernes comme Internet Explorer, Safari,
                                    Firefox, Google Chrome, etc. Douceur Végétale met en œuvre tous les
                                    moyens dont elle dispose pour assurer une information fiable
                                    et une mise à jour fiable de ses sites internet.
                                    Toutefois, des erreurs ou omissions peuvent survenir. L'internaute devra donc
                                    s'assurer
                                    de l'exactitude des informations auprès de Douceur Végétale,
                                    et signaler toute modification du site qu'il jugerait utile. Douceur Végétale n'est
                                    en
                                    aucun cas responsable de l'utilisation faite de ces informations,
                                    et de tout préjudice direct ou indirect pouvant en découler.
                                </p>

                                <p class="modal-text">🍪 &nbsp; COOKIES :</p>
                                <p class="modal-text">
                                    Le site <a href="http://www.douceurvegetale.com">www.douceurvegetale.com</a>
                                    peut-être amené à vous demander
                                    l’acceptation des cookies pour des besoins de statistiques et d'affichage.
                                    Un cookie est une information déposée sur votre disque dur par le serveur du site
                                    que
                                    vous visitez. Il contient plusieurs données qui sont stockées sur votre ordinateur
                                    dans
                                    un simple
                                    fichier texte auquel un serveur accède pour lire et enregistrer des informations.
                                    Certaines parties de ce site ne peuvent être fonctionnelles sans l’acceptation de
                                    cookies.
                                </p>

                                <p class="modal-text">🍰 &nbsp; LIENS HYPERTEXTES :</p>
                                <p class="modal-text">
                                    Les sites internet peuvent offrir des liens vers d’autres
                                    sites internet ou d’autres ressources disponibles sur Internet. Douceur Végétale ne
                                    dispose d'aucun
                                    moyen pour contrôler les sites en connexion avec ses sites internet. Douceur
                                    Végétale ne
                                    répond pas de la
                                    disponibilité de tels sites et sources externes, ni ne la garantit. Elle ne peut
                                    être
                                    tenue pour responsable de tout dommage, de quelque
                                    nature que ce soit, résultant du contenu de ces sites ou sources externes,
                                    et notamment des informations, produits ou services qu’ils proposent, ou de tout
                                    usage
                                    qui peut être fait de ces éléments.
                                    Les risques liés à cette utilisation incombent pleinement à l'internaute, qui doit
                                    se
                                    conformer à leurs conditions d'utilisation.

                                    Les utilisateur.trice.s, les abonné.e.s et les visiteur.se.s du site internet de
                                    Douceur
                                    Végétale peuvent mettre en place un hyperlien
                                    en direction de ce site sans l'autorisation expresse et préalable de Douceur
                                    Végétale.
                                </p>

                                <p class="modal-text">🍰 &nbsp; SERVICES FOURNIS :</p>
                                <p class="modal-text">L'ensemble des activités de la société ainsi que ses
                                    informations sont présentées sur notre site <a
                                            href="http://www.douceurvegetale.com">www.douceurvegetale.com</a>.
                                </p>
                                <p class="modal-text">
                                    Douceur Végétale s’efforce de fournir sur le site
                                    www.douceurvegetale.com des informations aussi précises que possible.
                                    Les renseignements figurant sur le site <a href="http://www.douceurvegetale.com">www.douceurvegetale.com</a>
                                    ne sont pas exhaustifs
                                    et les photos non contractuelles. Ils sont donnés sous réserve de modifications
                                    ayant été apportées depuis leur mise en ligne.
                                    Par ailleurs, toutes les informations indiquées sur le site
                                    www.douceurvegetale.com sont données à titre indicatif,
                                    et sont susceptibles de changer ou d’évoluer sans préavis.
                                </p>

                                <p class="modal-text">🍰 &nbsp; LIMITATIONS CONTRACTUELLES SUR LES DONNÉES :</p>
                                <p class="modal-text">
                                    Les informations contenues sur ce site sont aussi précises que possible et le site
                                    remis
                                    à jour à différentes périodes de l’année, mais peut toutefois contenir des
                                    inexactitudes
                                    ou des omissions. Si vous constatez une lacune, erreur ou ce qui paraît être un
                                    dysfonctionnement, merci de bien vouloir le signaler par email, à l’adresse
                                    contact@douceurvegetale.com, en décrivant le problème de la manière la plus précise
                                    possible (page posant problème, type d’ordinateur et de navigateur utilisé…).
                                </p>

                                <p class="modal-text">
                                    Tout contenu téléchargé se fait aux risques et périls de l'utilisateur.trice et sous
                                    sa
                                    seule responsabilité. En conséquence, Douceur Végétale ne saurait être tenue
                                    responsable d'un
                                    quelconque dommage subi par l'ordinateur de l'utilisateur.trice ou d'une quelconque
                                    perte de données
                                    consécutives au téléchargement.De plus, l’utilisateur.trice du site s’engage à
                                    accéder au site
                                    en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de
                                    dernière génération mis à jour.
                                </p>

                                <p class="modal-text">
                                    Les liens hypertextes mis en place dans le cadre du présent site internet en
                                    direction
                                    d'autres ressources présentes sur le réseau Internet ne sauraient engager la
                                    responsabilité de Douceur Végétale.
                                </p>

                                <p class="modal-text">🍰 &nbsp; PROPRIÉTÉ INTELLECTUELLE :</p>
                                <p class="modal-text">
                                    Tout le contenu de <a
                                            href="http://www.douceurvegetale.com">www.douceurvegetale.com</a>,
                                    incluant, de façon non limitative, les graphismes, images, textes, vidéos,
                                    animations,
                                    sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive
                                    de
                                    la société à l'exception des marques, logos ou contenus appartenant à d'autres
                                    sociétés
                                    partenaires ou auteurs.
                                </p>

                                <p class="modal-text">
                                    Toute reproduction, distribution, modification, adaptation, retransmission ou
                                    publication, même partielle, de ces différents éléments est strictement interdite
                                    sans
                                    l'accord exprès par écrit de Douceur Végétale. Cette représentation ou reproduction,
                                    par
                                    quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles
                                    L.335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette
                                    interdiction constitue une contrefaçon pouvant engager la responsabilité civile et
                                    pénale du ou de la contrefacteur.trice. En outre, les propriétaires des contenus
                                    copiés
                                    pourraient intenter une action en justice à votre encontre.
                                </p>

                                <p class="modal-text">🍰 &nbsp; DÉCLARATION À LA CNIL :</p>
                                <p class="modal-text">
                                    Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6
                                    août
                                    2004 relative à la protection des personnes physiques à l'égard des traitements de
                                    données à caractère personnel) relative à l'informatique, aux fichiers et aux
                                    libertés,
                                    ce site n'a pas fait l'objet d'une déclaration auprès de la Commission nationale de
                                    l'informatique et des libertés (<a href="http://www.cnil.fr/">www.cnil.fr</a>).
                                </p>

                                <p class="modal-text">🍰 &nbsp; LITIGES :</p>
                                <p class="modal-text">
                                    Les présentes conditions du site <a href="http://www.douceurvegetale.com">www.douceurvegetale.com</a>
                                    sont régies par les lois françaises et toute contestation ou tout litige qui
                                    pourrait
                                    naître de l'interprétation ou de l'exécution de celles-ci serait de la compétence
                                    exclusive des tribunaux dont dépend le siège social de la société. La langue de
                                    référence, pour le règlement de contentieux éventuels, est le français.
                                </p>

                                <p class="modal-text">🍰 &nbsp; DONNÉES PERSONNELLES :</p>
                                <p class="modal-text">
                                    De manière générale, vous n’êtes pas tenu.e de nous communiquer vos données
                                    personnelles
                                    lorsque vous visitez notre site Internet <a href="http://www.douceurvegetale.com">www.douceurvegetale.com</a>.
                                </p>

                                <p class="modal-text">
                                    Cependant, ce principe comporte certaines exceptions. En effet, pour certains
                                    services
                                    proposés par notre site, vous pouvez être amené.e.s à nous communiquer certaines
                                    données
                                    telles que : votre nom, votre fonction, le nom de votre société, votre adresse
                                    électronique, et votre numéro de téléphone. Tel est le cas lorsque vous remplissez
                                    le
                                    formulaire qui vous est proposé en ligne, dans la rubrique « Contact ». Dans tous
                                    les
                                    cas, vous pouvez refuser de fournir vos données personnelles. Dans ce cas, vous ne
                                    pourrez pas utiliser les services du site, notamment celui de solliciter des
                                    renseignements sur notre société, ou de recevoir les lettres d’information.
                                </p>

                                <p class="modal-text">
                                    Enfin, nous pouvons collecter de manière automatique certaines informations vous
                                    concernant lors d’une simple navigation sur notre site Internet, notamment : des
                                    informations concernant l’utilisation de notre site, comme les zones que vous
                                    visitez et
                                    les services auxquels vous accédez, votre adresse IP, le type de votre navigateur,
                                    vos
                                    temps d'accès. De telles informations sont utilisées exclusivement à des fins de
                                    statistiques internes, de manière à améliorer la qualité des services qui vous sont
                                    proposés. Les bases de données sont protégées par les dispositions de la loi du 1er
                                    juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection
                                    juridique des bases de données.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>

<!-- js -->
<script src="assets/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="assets/js/jquery-2.1.3.min.js"></script>
<script src="assets/js/jquery.scrollTo.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/main.js"></script>

<!-- js google maps -->
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script class="map" async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8GshAEmnL9ipPy1H68otXEHjyGpb1uBI&callback=initMap"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>

</body>
</html>