{% extends "adminLayout.html.twig" %}

{% block body %}

    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Image</th>
            <th>Boutons</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Cupcake</td>
            <td>Blabla</td>
            <td>url</td>
            <td>View/Edit</td>
        </tr>
        </tbody>
    </table>

{% endblock %}