{% extends "adminLayout.html.twig" %}

{% block body %}
<h1 class="text-center dashboard">Bienvenue sur le dashboard</h1>
    <video class="col-sm-offset-4" autoplay="" loop="" muted="" preload="auto" style="display: inline-block"
           poster="assets/img/video/screen.png">
        <source src="assets/img/giphy.mp4" type="video/mp4">
    </video>
{% endblock %}