{% extends "adminLayout.html.twig" %}

{% block body %}

    <div class="container animated fadeIn">

        <div class="row admin-form">

            <h3 class="h3-admin">Modifier les infos de la page d'accueil</h3>

            <div>
                <form action="index.php" class="contact-form"
                      method="post">

                    {# Quand on fait un post, on ne passe pas les paramètres dans l'url mais grâce aux input hidden #}
                    <input type="hidden" name="action" value="updatehomepage">
                    <input type="hidden" name="homepage_id" value="{{ id }}">

                    <div class="form-group">
                        <input type="text" class="form-control" id="title" name="title"
                               placeholder="Titre de la page d'accueil"
                               required="" value="{{ homepage.title }}">
                    </div>

                    <div class="form-group form_left">
                        <textarea type="text" class="form-control" id="description" name="description"
                               placeholder="Description de la page d'accueil"
                                  required="" rows="10">{{ homepage.description }}</textarea>
                    </div>

                    <div class="form-group form_left">
                        <input type="text" class="form-control" id="images_images_id" name="images_images_id"
                               placeholder="Image de la page d'accueil"
                               required="" value="{{ homepage.images_images_id }}">
                    </div>

                    <br>
                    <button class="btn btn-default btn-send"><span class="glyphicon glyphicon-send"></span> Envoyer
                    </button>

                </form>
            </div>
        </div>
    </div>

{% endblock %}