{% extends "adminLayout.html.twig" %}

{% block body %}

    <div class="container animated fadeIn">

        <div class="row admin-form">

            <h3 class="h3-admin">Modifier les infos de la page d'accueil</h3>

            <div>
                <form action="index.php?section=admin&page=updatehomepage&id={{ homepage.homepageId }}" class="contact-form"
                      method="post">

                    <div class="form-group">
                        <input type="text" class="form-control" id="title" name="title"
                               placeholder="Titre de la page d'accueil"
                               required="" value="{{ homepage.title }}">
                    </div>

                    <div class="form-group form_left">
                        <textarea type="text" class="form-control" id="description" name="description"
                               placeholder="Description de la page d'accueil"
                                  required="" rows="10">{{ homepage.description }}</textarea>
                    </div>

                    <br>
                    <button class="btn btn-default btn-send"><span class="glyphicon glyphicon-send"></span> Envoyer
                    </button>

                </form>
            </div>
        </div>
    </div>

{% endblock %}