{% extends "layout.html.twig" %}

    {% block image %}
        <video autoplay="" loop="" muted="" preload="auto" style="display: inline-block"
               poster="assets/img/video/screen.png">
            <source src="assets/img/video/video.mp4" type="video/mp4">
        </video>
    {% endblock image %}

{% block body %}

    <div id="story">
        <div class="container">
            <h2 id="ancre" class="section-title text-center">{{ homepage.title }}</h2>
            <p class="col-lg-offset-3 col-md-6 main text-center value_bold">{{ homepage.description }}
            </p>
        </div>
        <!-- /.container -->
        <section class="ss-style-bottom"></section>
    </div><!-- #story -->


    <div id="special-offser" class="parallax pricing">
        <div class="container inner">

            <h2 class="section-title text-center"><a href="index.php?section=products">Découvrez nos produits</a></h2>
{#
            <p class="lead main text-center">There is no sincerer love than the love of food!</p>
#}

        </div>
        <!-- /.container -->
    </div><!-- /#special-offser -->
{% endblock %}