{% extends "layout.html.twig" %}

{% block body %}
	<link rel="stylesheet" href="assets/css/main.css">
    

    <!--Produit de la semaine - Texte -->


    	<div class="col-md-6">

    		<div class="hovereffect">		    			
				        	<img class="img-responsive" src="http://via.placeholder.com/750x500" alt="">
					            <div class="overlay">
					                <h2>Produit Image</h2>
									<p>
										<a href="#">Fiche Produit</a>
									</p>
								</div>		        
			</div>
		</div>

	  
	 <!--Produit de la semaine - Image -->

    	<div class="col-md-6">
			<div class="hovereffect">
			        <img class="img-responsive" src="http://via.placeholder.com/750x500" alt="">
			            <div class="overlay">
			                <h2>Produit de la semaine</h2>
							<p>
								<a href="#">Fiche Produit</a>
							</p>
			            </div>
			 </div>
		</div>
		
	    

	 <!--Produit 1 -->

	    <div class="col-md-6"> 
	    	<div class="row row_custom">    			
	        	<div class="hovereffect">
			        <img class="img-responsive" src="http://via.placeholder.com/750x500" alt="">
			            <div class="overlay">
			                <h2>Produit 1</h2>
							<p>
								<a href="#">Fiche Produit</a>
							</p>
			            </div>
			    </div>
	        </div>
	    </div>
	    

	<!--Produit 2 -->

	    
    	<div class="col-md-6">	
    		<div class="row row_custom"> 
	        	<div class="hovereffect">
			        <img class="img-responsive" src="http://via.placeholder.com/750x500" alt="">
			            <div class="overlay">
			                <h2>Produit 2</h2>
							<p>
								<a href="#">Fiche Produit</a>
							</p>
			            </div>
			    </div>
	        </div>
	    </div>

	<!--Produit 3 -->

	    <div class="col-md-6">

	        <div class="row row_custom">
	        	<div class="hovereffect">
			        <img class="img-responsive" src="http://via.placeholder.com/750x500" alt="">
			            <div class="overlay">
			                <h2>Produit 3</h2>
							<p>
								<a href="#">Fiche Produit</a>
							</p>
			            </div>
			    </div>
	        </div>
	    </div>


	    <!--Produit 4 -->

	    <div class="col-md-6">

	        <div class="row row_custom">
	        	<div class="hovereffect">
			        <img class="img-responsive" src="http://via.placeholder.com/750x500" alt="">
			            <div class="overlay">
			                <h2>Produit 4</h2>
							<p>
								<a href="#">Fiche Produit</a>
							</p>
			            </div>
			    </div>
	        </div>
	    </div>


    
{% endblock %}