{% extends "layout.html.twig" %}

{% block body %}


    <!-- /#header -->
    <div id="header">
        <div class="center text-center">
            <div class="banner" id="banner">
                <h1><img class="logo" src="assets/img/logo/douceur_vegetale_logo.png" alt="logo Douceur Végétale"></h1>
                <img src="assets/img/banners/waffle.jpg" type="image">
            </div>
        </div>
        <div class="bottom text-center">
            <a id="scrollDownArrow" href="#ancre"><i class="fa fa-chevron-down"></i></a>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">

            <section id="ancre" class="ss-style-top"></section>

            <h2 class="section-title text-center">Nos Produits</h2>

            <div class="col-md-6">
                <div class="produit_semaine1">
                    <div class="produit_semaine">
                        <h3 class="h3_produit">Pâtisserie de la semaine</h3>
                        <p>
                            Au fil des saisons, l'humeur de la Chef varie. Résultat, plusieurs recettes par saison,
                            mélanges de folie de meringue, crèmes parfumées et de fruits.

                            Et comme elle a horreur de la routine, chaque semaine elle invente une nouvelle Meringaie,
                            jamais la même, juste pour le plaisir.
                        </p>
                        <div class="img-responsive">

                            <img class="logo_sur_produit" src="assets/img/logo/douceur_vegetale_logo_glyphe_blanc.png"
                                 alt="">

                        </div>

                    </div>

                </div>
            </div>

            <!--Produit de la semaine - Image -->

            <div class="col-md-6">
                <div class="hovereffect">
                    <img class="img-responsive" src="assets/img/macaron.jpg" alt="">
                    <div class="overlay">
                        <h2>Produit de la semaine</h2>
                        <p>
                            <a href="#">Fiche Produit</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="container-fluid">

        <div class="row">

            {% for product in products %}
                <div class="col-md-6">
                    <div class="hovereffect">
                        <img class="img-responsive image_products" src="{{ product.url }}">

                        <div class="overlay">
                            <h2>{{ product.name }}</h2>
                            <p>
                                {{ product.description }}
                            </p>
                        </div>

                    </div>
                </div>
            {% endfor %}

        </div>


    </div>





{% endblock %}