{% extends "layout.html.twig" %}

    {% block image %}
        <img src="assets/img/cake-1850011.jpg" type="image">
    {% endblock image %}

{% block body %}

    <div class="container animated fadeIn">

        <div class="row">
            <h2 class="section-title">Merci, nous avons bien reçu votre message !</h2>
            <p class="text-center success-contact">Nous nous engageons à vous répondre dans un délai de 15 jours.</p>
        </div>
    </div>


{% endblock %}