{% extends "layout.html.twig" %}

{% block body %}

    <div id="header">
        <div class="center text-center">
            <div class="banner">
                <h1><img class="logo" src="assets/img/logo/douceur_vegetale_logo.png" alt="logo Douceur Végétale"></h1>
                <img src="assets/img/banners/yumgoddess.jpeg">
            </div>
        </div>
        <div class="bottom text-center">
            <a id="scrollDownArrow" href="#ancre" ><i class="fa fa-chevron-down"></i></a>
        </div>
    </div>

    <section id="ancre" class="ss-style-top"></section>

    <div class="container">
        <div class="row">

            <h2 class="section-title text-center">
                Nos valeurs
            </h2>
            <div class="col-md-offset-3 col-md-6 marge_bottom">
                <p class="value_bold text-center">Les créatrices de Douceur Végétale sont gourmandes et passionnées par la cuisine, mais aussi par
                    la nutrition. Titulaires d'un diplôme d'ingénieures en Alimentation et Santé, elles s'intéressent à
                    l'impact des aliments sur la santé des consommateurs et des consommatrices.
                    C'est pourquoi Douceur Végétale vous propose une cuisine 100% faite maison, à partir de produits
                    frais, bio, locaux et de saison. Toutes nos pâtisseries sont fabriquées sur place.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 main">
                <p>Être végan n’est pas un “régime”, ce n’est pas une religion ou une quête de la pureté, ce n’est
                    pas un parti politique, ni un groupe d’élite, ni un club, ni un culte, ni un système, ni une secte,
                    ni une utopie…
                    Le véganisme est le refus de l’exploitation et de la cruauté envers les animaux.
                    Le véganisme exclut la consommation de tout produit issu des animaux (viande, lait, oeufs, fromage),
                    issus de leur exploitation ou test/expérimentation sur eux (cuir, fourrure, laine, soie, cire
                    d’abeille, cosmétiques testés sur eux, parcs avec animaux marins, cirques avec animaux, zoos, etc.).
                    Le véganisme, qui se caractérise par une baisse de la demande de produits qui impliquent des
                    animaux, est bien plus qu’un style de vie ; c’est un engagement ayant pour objectif l’abolition de
                    toute forme d’exploitation des animaux.
                </p>
            </div>
            <div class="col-md-6">
                <p class="text-center">
                    <img class="round" src="assets/img/logo-vegan.jpg">
                </p>
            </div>
        </div>

        <h3 class="value_bold"> Etre vegan, un engagement </h3>

        <div class="row second-portion">
            <div class="col-md-6 main">

                <p>Tous les produits que nous utilisons dans la fabrication de nos pâtisseries ont reçu le
                    label Bio Cohérence, qui assure qu'ils ont été cultivés, produits et transformés sur le sol
                    français.
                    Nos pâtisseries ont également reçu la certification vegan EVE (Expertise Vegan Europe), qui
                    atteste du respect du plus haut niveau de conformité de qualité vegan. Ainsi, nous vous assurons
                    que nos produits et nos emballages sont 100% végétaliens et non testés sur les animaux, et que
                    nos processus de fabrication ont été contrôlés.
                </p>
            </div>
            <div class="col-md-6">
                <p class="text-center">
                    <img class="round" src="assets/img/logo-bio-coherence.jpg">
                </p>
            </div>
        </div>
    </div>
{% endblock %}